@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;

  
}

/* navbar section styling */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 20px 100px;
  font-size: 18px;
  
  
}

.nav2  button{
  border: 1px solid black;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
  color: #2d2e30;
  font-weight: 700;
  cursor: pointer;
}

/* navbar styling done */

/* hero-section */


.hero-sec{
  background-image: url(images/Hero-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  gap: 40px;
}

.hero-sec h1{
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  word-spacing: 20px;
}

.hero-sec p{
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #5c5c5e;
}

.hero-sec button{
  padding: 20px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}


/* hero section ends */

/* for all section */

.title {
  text-align: center;
  
  padding-bottom: 30px;
  

}

.title h2{
  font-size: 32px;
  font-weight: 800;
  padding: 30px 0;
}

.title p{
  font-size: 16px;
  color: #5c5c5e;
  padding: 20px 40px;
}
/* why section starts */

.why-development{
   background-color: rgb(250, 250, 250); 
  padding:  100px; 
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 20px;
 
}

.why-sec1{
  
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.why-sec2{
 
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.why-sec3{
  
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sub-title{
  padding: 70px 138px 70px 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  color: #5c5c5e;
}
.sub-title p, .sub-title2 p{
  font-size: 18px;
}

.sub-title2{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 70px 70px 0px;
  color: #5c5c5e;

}

.sub-title2 button{
  width: 180px;
  padding: 15px 8px;
  font-weight: 600;
  font-size: 20px;
}

.sub-title button{
  width: 180px;
  padding: 15px 10px;
  font-weight: 700;
  font-size: 20px;
}

.sub-title-img{
  
  padding: 40px;
}
/* why section styling done */


/* my inspiration section start */


.inspiration{
  padding-top: 70px;
  padding-bottom: px;
}

.video{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border: .4px solid rgb(205, 200, 200);
  margin: 70px 150px;
  border-radius: 20px;
  
}



.video iframe{
  border-radius: 20px;
  
  
}

/* inspiration section end */


/* my current target section */

.current-targets{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
  
  
}

.c-target{
  
  padding: 30px 30px;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 20px;
  border-radius: 20px;
  height: 320px;
  width: 450px;
  justify-content: center;
}

.c-target h3, .n-target-text h3{
  font-weight: 900;
  font-size: 24px;
}

.c-target p, .n-target-text p{
  font-size: 16px;
  color: #5c5c5e;
  font-weight: 400;
}

.c-target a , .n-target-text a{
  font-size: 16px;
  color: #0D1321;
  font-weight: 700;

}



.c-target img{
  height: 60px;
  width: 60px;
}

.html{
  background: #fdf3f1;
}

.css{
  background: rgb(241, 241, 251);
}

.js{
  background: rgb(248, 248, 235);
}


/* my current target section styling end */


/* my next target section starts */

.my-next-target{
  padding-top: 70px;
  
}

.next-targets{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.n-target{
  border: .2px solid rgb(171, 160, 160);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  margin: 0px 150px;
  gap: 50px;
  border-radius: 20px;
  
}

.n-target-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* my next target section styling done */

/* support section start */

.support{
  text-align: center;
  background-image: url(images/handshake.jpg)  ;
   background-position: center; 
   background-size: cover;
  padding: 70px 100px;
  margin: 20px 170px;
  border-radius: 20px;
  background-blend-mode: lighten;
  z-index: -1;
  margin-bottom: 100px;
  
  
}
.support-text{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  padding: 0 120px;
  
}
.submit-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-sec input{
  height: 60px;
  width: 600px;
  padding-left: 12px;
  border-radius: 10px;
  border: none;

}

.submit-sec button{
  padding: 18px 25px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

/* support section styling done  */


/* footer section start */

footer{
  display: flex;
  justify-content: space-between;
  background: #f8f5f5a2;
  padding : 40px;
  align-items: center;
  
}

.name{
  padding-left: 150px;
  font-weight: 600;
  padding-right: 450px;
}

.contact-me{
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: right;
}

/* footer section end */